<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
    <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear/>
        <!-- removes the existing default document list -->
        <add value="index.aspx"/>
        <!-- foo.htm is now the default document  -->
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
    <customErrors defaultRedirect="erro.aspx" mode="On">
      <error statusCode="404" redirect="erro.aspx"/>
    </customErrors>
  </system.web>
</configuration>